
<div class="related row text-center">

    {% assign maxRelatedCounter = 0 %}

    {% for post in site.posts %}
        {% if post.url != page.url %}

                {% assign maxRelated = 3 %}
                {% assign columnWidth = 4 %}

                {% for category in post.categories %}
                    {% if page.categories contains category %}
                    <div class="col-3 col-md-4 col-lg-4">
                        <div id="" class="feature">
                            <div class="thumb-wrapper">
                                <img id="thumb{{forloop.index}}" class="thumbs" src="{{ site.baseurl }}{{ post.thumb }}" srcset="" sizes="" alt="">
                            </div>
                            <p class="title text-uppercase">{{ post.title }}</p>
                            <p class="meta text-uppercase">{{ post.categories }}  |  {{ post.date | date: "%B %d %Y" }}</p>
                        </div>
                    </div>
                        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                    {% endif %}
                {% endfor %}

        {% endif %}

        {% if maxRelatedCounter >= maxRelated %}
          {% break %}
        {% endif %}

    {% endfor %}
