#banner
    margin: 10px 0

    .row
        margin-top: 60px

        a
            font-size: 80px
            margin: 20px 0
            color: $mainfontcolor

            @media (max-width: 1400px)
                    font-size: 60px

            @media (max-width: 1030px)
                    font-size: 40px

            &:hover,
            &:focus
                text-decoration: none
                color: $fontfocuscolor
