#contact
    .line-title
        @extend %header-with-lines
    
    h2
        margin-top: 5px
        font-size: 1.5em

    .email-lockup
        margin: 40px 0 0
        
        a
            font-size: 1.5em
            color: $mainfontcolor

            &:hover,
            &:focus
                color: $fontfocuscolor
        
        p
            font-size: 1.5em
            display: inline
        
        @media (max-width: 1400px)
            font-size: 0.9em