#shop 
    h2
        margin-bottom: 40px

    .products
        height: 100%

        a:hover,
        a:focus
            img
                opacity: 0.5

    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus
        outline: none
        background: transparent
        color: $fontfocuscolor
