#shop .products
    height: 400px

    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus
        outline: none
        background: transparent
        color: $fontfocuscolor
