#grid

  margin: 0 10px

  .feature
      height: 400px
      margin: 10px 0

  .box
      @extend %call-to-action

  .thumb-wrapper
      height: 90%

      .thumbs
          height: 100%
          width: 100%
          object-fit: cover

  .articles
      display: none

      &.active
        display: block
    
      .title
        margin: 10px 0 0

      .meta
        font-size: 0.75em
